/* * {
	outline: 1px solid red;
} */

body {
	background-color: #e6e9f7;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
}
main {
	background: white;
	padding: 20px;
	border-radius: 10px;
}

h1 {
	color: red;
}
nav {
	background-color: red;
	font-size: large;
	display: flex;
	justify-content: space-between;
	padding: 15px;
}
nav a {
	color: white;
	text-decoration: none;
}
ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0px;
}
li {
	list-style: none;
	margin-left: 0px;
}
#search-form {
	margin-top: 5px;
	margin-bottom: 15px;
}

#search-input {
	width: 60%;
	max-width: 350px;
}

.article-card {
	display: grid;
	grid-template-columns: 34% 22% 22% 22%;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"image title title title"
		"image author author author"
		"image topic date votes";
	border: solid grey 2px;
	padding: 10px;
	margin: 15px;
	width: 450px;
}
#image-link {
	grid-area: image;
}
.article-card-img {
	max-width: 120px;
}
#title-link {
	grid-area: title;
	text-decoration: none;
	color: black;
}
#art-card-title {
	font-size: medium;
}
#art-card-author {
	font-size: small;
	color: blue;
	grid-area: author;
}
#art-card-topic {
	grid-area: topic;
}
#art-card-date {
	grid-area: date;
}
#art-card-votes {
	grid-area: votes;
}
#img-sing-article {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 55vw;
}
@media (max-width: 800px) {
	#img-sing-article {
		max-width: 100%;
	}
}
#comments-list {
	background-color: rgb(250, 250, 250);
	display: block;
	text-align: left;
}

#comments-list-item {
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px solid grey;
}

#toggle-comments {
	cursor: pointer;
	color: blue;
}

#scroll-to-top {
	cursor: pointer;
	color: blue;
}
